<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>It's a DRAW!</h1>
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <a href="/game/human">
              <button type="button" class="btn btn-primary-outline"><span>Human vs. Human</span></button>
            </a>
          </div>
          <div class="col-xs-6">
            <a href="/game/cpu">
              <button type="button" class="btn btn-primary-outline"><span>Human vs. CPU</span></button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
